<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="antenna">
            <h2><span>Antenna</span> {{ antenna.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ antenna.nome }}</span>
                </dd>
                <dt><span>In Use</span></dt>
                <dd>
                    <span>{{ antenna.inUse }}</span>
                </dd>
                <dt><span>Band Meter</span></dt>
                <dd>
                    <span>{{ antenna.bandMeter }}</span>
                </dd>
                <dt><span>Band</span></dt>
                <dd>
                    <div *ngIf="antenna.band">
                        <a [routerLink]="['/band', antenna.band?.id, 'view']">{{ antenna.band?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/antenna', antenna.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
