<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-command-heading">Create or edit a Command</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_inUse">In Use</label>
                    <input type="checkbox" class="form-control" name="inUse" id="field_inUse"
                           formControlName="inUse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_radio">Radio</label>
                    <select class="form-control" id="field_radio" name="radio" formControlName="radio">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="radioOption.id === editForm.get('radio')!.value?.id ? editForm.get('radio')!.value : radioOption" *ngFor="let radioOption of radios; trackBy: trackById">{{ radioOption.nome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_bands">Band</label>
                    <select class="form-control" id="field_bands" multiple name="bands" formControlName="bands">
                        <option [ngValue]="getSelected(editForm.get('bands')!.value, bandOption)" *ngFor="let bandOption of bands; trackBy: trackById">{{ bandOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
