<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="command">
            <h2><span>Command</span> {{ command.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ command.nome }}</span>
                </dd>
                <dt><span>In Use</span></dt>
                <dd>
                    <span>{{ command.inUse }}</span>
                </dd>
                <dt><span>Radio</span></dt>
                <dd>
                    <div *ngIf="command.radio">
                        <a [routerLink]="['/radio', command.radio?.id, 'view']">{{ command.radio?.nome }}</a>
                    </div>
                </dd>
                <dt><span>Band</span></dt>
                <dd>
                    <span *ngFor="let band of command.bands; let last = last">
                        <a [routerLink]="['/band', band?.id, 'view']">{{ band.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/command', command.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
